.cache
*.o
host_test
host_test_unique_callsign
host_test_beacon_cancel
host_test_adif_merge
host_test_station
host_test_decode_sort
host_test_power_hysteresis
host_test_qso_browse
host_test_copy_block

