.cache
*.o
host_test
host_test_unique_callsign
host_test_beacon_cancel
host_test_adif_merge
host_test_station
host_test_decode_sort
host_test_power_hysteresis
host_test_qso_browse
host_test_copy_block
host_test_station_save_queue
host_test_file_list
host_test_radio_profile
host_test_tx_hud_banner
host_test_rx_list_stale
host_test_cts_time

